
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #777;
}

a{
    color: white; 
    background-color: transparent; 
    text-decoration: underline;
}

header {
    background-color: #17b6ef;
    padding: 0.5%;
    text-align: Left;
    font-size: 5vw;
    color: white;
    min-height: 18vw;
}

nav {
    float: right;
    width: 20%;
    height: 50vw;
    background: #bed1d8;
    padding: 20px;
    text-align: left;
}
nav ul{
	list-style: none;
	padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 79%;
    background-color: #f1f1f1;
    height: 50vw;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #777;
    padding: 5px;
    text-align: left;
    color: white;
}
